<div class="card-body">
  <div class="row">
    <div class="col-md-4">
        
      <div class="card">
        <div class="card-body">
            <div class="fab"><p style="font-size: 25px;">Edit</p></div>
          <h5 class="card-title">Merchant Information</h5> <i class="fas fa-pencil" aria-hidden="true"></i>

              <div class="form-group">
                <label>Merchant Code</label>
              <input type="text" class="form-control" readonly placeholder="{{merchantId}}">
              </div>

              <div class="form-group">
                <label>Merchant Name</label>
                <input type="text" class="form-control" readonly placeholder="Exp: Rokomary">
              </div>

              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" class="form-control" readonly placeholder="0155545789">
              </div>

              <div class="form-group">
                <label>Email Address </label>
                <input type="text" class="form-control" readonly placeholder="Exp: rokomari@gmail.com">
              </div>

              <div class="form-group">
                <label>Trade License</label>
                <input type="text" class="form-control" readonly placeholder="1256789">
              </div>

              <div class="form-group">
                <label>NID</label>
                <input type="text" class="form-control" readonly placeholder="1256789">
              </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
          <div class="row">
          <div class="col-md-12 border-bottom border-top">
            <div class="card-body">
                <h5 class="card-title"> <i class="fa fa-location-arrow" aria-hidden="true"></i> Areas</h5>
                <span class="badge badge-pill badge-primary">Dhaka</span>
                <span class="badge badge-pill badge-secondary">Chittagong</span>
                <span class="badge badge-pill badge-success">Khulna</span>
                <span class="badge badge-pill badge-danger">Rajshahi</span>
                <span class="badge badge-pill badge-warning">Barishal</span>
                <span class="badge badge-pill badge-info">Cox's Bazar</span>
                <span class="badge badge-pill badge-light">Bramonbariya</span>
                <span class="badge badge-pill badge-dark">Sylet</span>
            </div>
          </div>
          </div>

          <!-- <div class="row">
          <div class="col-md-12">
            <div class="card-body border-bottom">
                <h5 class="card-title"><i class="fas fa-percentage" aria-hidden="true"></i> Charge per product</h5>
                <h6>Inside Dhaka 50Tk</h6>
                <h6>Out Side Dhaka 100Tk</h6>
            </div>
          </div>
          </div> -->


          <div class="row">
              <div class="col-md-12">
                <div class="card-body border-bottom">
                    <h5 class="card-title"><i class="fa fa-cubes" aria-hidden="true"></i>Items</h5>
                    <mat-chip-list aria-label="Zone selection">
                      <mat-chip color="primary" selected *ngFor="let item of itemAttributeList">{{item.name}}</mat-chip>
                    </mat-chip-list>
                    
                </div>
              </div>
          </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Item Information</h5>
          <li *ngFor="let item of itemAttributeList">
            {{item.name}}, {{item.itemSize}}, COD: {{item.conditionCharge}}, InCity: {{item.inCityRate}}
            OutCity: {{item.outCityRate}}, Booking Charge: {{item.bookingCharge}}
          </li>
        </div>
      </div>
      
    </div>



  </div>
</div>
