<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-5 col-lg-4 mx-auto">
        <div class="card card-signin my-5 shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title text-center">Create Merchant</h5>
            <form  [formGroup]="merchantaddForm" (ngSubmit) = (Create()) method="POST" >
              
                  <div class="form-label-group">
                        <label for="inputUsername">Name</label>
                        <input type="text" 
                        class="form-control"  formControlName="name" placeholder="Ex: Abc">
                        
                  </div>
  
                  <div class="form-label-group">
                      <label for="inputUsername">Phone</label>
                      <input type="text" 
                      class="form-control" formControlName="phone" placeholder="Ex: Abc">
                      
                  </div>
                  <div class="form-label-group">
                      <label for="inputUsername">Email</label>
                      <input type="text" 
                      class="form-control"  formControlName="email" placeholder="Ex: Abc">
                      
                  </div>

                  <div class="form-label-group">
                    <label for="inputUsername">Password</label>
                    <input type="text" 
                    class="form-control"  formControlName="password" placeholder="Ex: Abc">
                    
                </div>


              <div class="form-label-group">
                  <label for="inputUsername">Address</label>
                  <input type="text" 
                  class="form-control"  formControlName="address" placeholder="Ex: Abc">
                  
              </div>
            <div class="form-label-group">
                <label for="inputUsername">Bank Account No</label>
                <input type="text" 
                class="form-control"  formControlName="bankAccountNo" placeholder="Ex: Abc">
                
          </div>
          <div class="form-label-group">
              <label for="inputUsername">Trade License No</label>
              <input type="text" 
              class="form-control"  formControlName="tradeLicenseNo" placeholder="Ex: Abc">
              
        </div>
    
                <br>
                  
              
                  <button  class="btn  btn-primary btn-block text-uppercase" type="submit">Create</button>
    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  