
<div class="card-body">
  <h5 class="card-title text-center">Item and Item Attribute</h5>
      <div class="row">

          <!-- Create item starts -->
          <!-- <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right"> 
              <form [formGroup]="createItemFrom" (ngSubmit) = "CreateItem()">
                <div class="card-body">
                  <h5 class="card-title text-center">Create Item</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="itemName"  placeholder="itemname"  autofocus> 
                    </div> 
                    <button  class="btn  btn-primary btn float-right text-uppercase" type="submit">submit</button>
                  </div>
              </form> 
          </div> Create item End -->
          
          <!-- Create item attribute starts -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right">
              <form [formGroup]="ItemAttributeForm">
                  <div class="card-body">
                    <h5 class="card-title text-center">Item Type</h5>
                                                        
                      <select class="custom-select form-group" formControlName="itemid" (change)="onSelect($event)">
                          <option value="" disabled>Choose your Item</option>
                          <option *ngFor="let i of item" [value]="i.itemId">{{i.name}}</option>
                        </select>
                        <div class="form-group">
                            <input type="text" required  class="form-control" formControlName="ItemSize" placeholder="Item Type Name" [ngClass]="{'is-invalid': ItemAttributeForm.get('ItemSize').errors && ItemAttributeForm.get('ItemSize').touched}">                  
                            <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('ItemSize').touched && ItemAttributeForm.get('ItemSize').hasError('required')">ItemSize is required</div>
                        </div>
                        
                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="InCityRate"  placeholder="In City Rate"  [ngClass]="{'is-invalid': ItemAttributeForm.get('InCityRate').errors && ItemAttributeForm.get('InCityRate').touched}" >
                          <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('InCityRate').touched && ItemAttributeForm.get('InCityRate').hasError('required')">InCityRate is required</div>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" formControlName="OutCityRate"  placeholder="Out City Rate" value="editOutCity?"  [ngClass]="{'is-invalid': ItemAttributeForm.get('OutCityRate').errors && ItemAttributeForm.get('OutCityRate').touched}">
                            <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('OutCityRate').touched && ItemAttributeForm.get('OutCityRate').hasError('required')">OutCityRate is required</div>
                        </div>
                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="RegularRate" placeholder="Regular Rate"  [ngClass]="{'is-invalid': ItemAttributeForm.get('RegularRate').errors && ItemAttributeForm.get('RegularRate').touched}" >
                          <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('RegularRate').touched && ItemAttributeForm.get('RegularRate').hasError('required')">RegularRate is required</div>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" formControlName="ConditionCharge" placeholder="Condition Charge in Percantage (%)"  [ngClass]="{'is-invalid': ItemAttributeForm.get('ConditionCharge').errors && ItemAttributeForm.get('ConditionCharge').touched}" >
                            <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('ConditionCharge').touched && ItemAttributeForm.get('ConditionCharge').hasError('required')">ConditionCharge is required</div>
                        </div>
                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="BookingCharge" placeholder="Booking Charge"  [ngClass]="{'is-invalid': ItemAttributeForm.get('BookingCharge').errors && ItemAttributeForm.get('BookingCharge').touched}" >
                          <div class="invalid-feedback" *ngIf="ItemAttributeForm.get('BookingCharge').touched && ItemAttributeForm.get('BookingCharge').hasError('required')">BookingCharge is required</div>
                        </div>
                        <div class="btn-toolbar">
                          <button *ngIf="!isModify" class="btn  btn-primary btn float-right text-uppercase" type="submit" (click)="CreateItemAttribute()">Submit</button>
                          
                          <button *ngIf="isModify" class="btn  btn-success btn float-right text-uppercase button-space" type="submit" (click)="UpdateItemAttribute()" >Update</button>
                          <button *ngIf="isModify"  class="btn  btn-danger btn float-right text-uppercase button-space" type="submit" >Delete</button>
                        </div>
                      </div>
              </form>
          </div> <!-- Create item attribute end -->

          <!-- Show item attributes from database start -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right">
            <div class="card-body">
                <h5 class="card-title text-center">Item Type Lists</h5>
                

                <div class="card-body shadow-sm p-3 mb-2 bg-white rounded border border-info" 
                *ngFor="let i of itemAttributesOfAnItem | async | paginate: { itemsPerPage: 4, currentPage: p }" 
                (click)="onTypeClick(i)" id="itemAttributeList">
                    <h5 class="card-title text-center">Type: {{i.itemSize}}</h5>
                   Booking Charge: {{i.bookingCharge}}, In City Rate: {{i.inCityRate}} 
                    Condition Charge: {{i.conditionCharge}}
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <div >
                    
                  <!--<p>{{i.itemname}}</p> -->
                </div>
            </div>
          
          </div> <!-- Show item attributes from database End -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right"></div>
        </div>
</div>