
<div class="card-body">
  <h5 class="card-title text-center">Item and Item Attribute</h5>
      <div class="row">

          <!-- Create item starts -->
          <!-- <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right"> 
              <form [formGroup]="createItemFrom" (ngSubmit) = "CreateItem()">
                <div class="card-body">
                  <h5 class="card-title text-center">Create Item</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="itemName"  placeholder="itemname"  autofocus> 
                    </div> 
                    <button  class="btn  btn-primary btn float-right text-uppercase" type="submit">submit</button>
                  </div>
              </form> 
          </div> Create item End -->
          
          <!-- Create item attribute starts -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right">
              <form [formGroup]="ItemAttributeForm">
                  <div class="card-body">
                    <h5 class="card-title text-center">Item Type</h5>
                      <!-- TODO: Fix Space -->
                        <div class="form-group">
                          <select class="custom-select form-group" formControlName="itemid" (change)="onSelect($event)"
                          [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.itemid.errors }">
                            <option value="" disabled>Choose your Item</option>
                            <option *ngFor="let i of item" [value]="i.itemId">{{i.name}}</option>
                          </select>
                          <div *ngIf="submitted && itemAttributeADDForm.itemid.errors" class="invalid-feedback">
                            <div *ngIf="itemAttributeADDForm.itemid.errors.required">Item id is required</div>
                          </div>
                        </div> 
                        <div class="form-group">
                            <input type="text" required  class="form-control" formControlName="ItemSize" placeholder="Item Type Name"
                            [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.ItemSize.errors }">
                            <div *ngIf="submitted && itemAttributeADDForm.ItemSize.errors" class="invalid-feedback">
                              <div *ngIf="itemAttributeADDForm.ItemSize.errors.required">Item size Name is required</div>
                            </div>
                          </div>
                        
                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="InCityRate"  placeholder="In City Rate"  
                          [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.InCityRate.errors }">
                          <div *ngIf="submitted && itemAttributeADDForm.InCityRate.errors" class="invalid-feedback">
                            <div *ngIf="itemAttributeADDForm.InCityRate.errors.required">In City Rate is required</div>
                          </div>
                        </div>

                        <div class="form-group">
                            <input type="text"  class="form-control" formControlName="OutCityRate"  placeholder="Out City Rate" value="editOutCity?" 
                            [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.OutCityRate.errors }">
                            <div *ngIf="submitted && itemAttributeADDForm.OutCityRate.errors" class="invalid-feedback">
                              <div *ngIf="itemAttributeADDForm.OutCityRate.errors.required">Out city rate is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="RegularRate" placeholder="Regular Rate" 
                          [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.RegularRate.errors }">
                          <div *ngIf="submitted && itemAttributeADDForm.RegularRate.errors" class="invalid-feedback">
                            <div *ngIf="itemAttributeADDForm.RegularRate.errors.required">Regular rate is required</div>
                          </div>
                        </div>

                        <div class="form-group">
                            <input type="text"  class="form-control" formControlName="ConditionCharge" placeholder="Condition Charge in Percantage (%)"  
                            [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.ConditionCharge.errors }">
                            <div *ngIf="submitted && itemAttributeADDForm.ConditionCharge.errors" class="invalid-feedback">
                              <div *ngIf="itemAttributeADDForm.ConditionCharge.errors.required">Condition Charge is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                          <input type="text"  class="form-control" formControlName="BookingCharge" placeholder="Booking Charge" 
                          [ngClass]="{ 'is-invalid': submitted && itemAttributeADDForm.BookingCharge.errors }">
                          <div *ngIf="submitted && itemAttributeADDForm.BookingCharge.errors" class="invalid-feedback">
                            <div *ngIf="itemAttributeADDForm.BookingCharge.errors.required">Booking Charge is required</div>
                          </div>
                        </div>
                        <div class="btn-toolbar">
                          <button *ngIf="!isModify" class="btn  btn-primary btn float-right text-uppercase" type="submit" (click)="CreateItemAttribute()">Submit</button>
                          
                          <button *ngIf="isModify" class="btn  btn-success btn float-right text-uppercase button-space" type="submit" (click)="UpdateItemAttribute()" >Update</button>
                          <button *ngIf="isModify"  class="btn  btn-danger btn float-right text-uppercase button-space" type="submit" >Delete</button>
                        </div>
                      </div>
              </form>
          </div> <!-- Create item attribute end -->

          <!-- Show item attributes from database start -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right">
            <div class="card-body">
                <h5 class="card-title text-center">Item Type Lists</h5>
                

                <div class="card-body shadow-sm p-3 mb-2 bg-white rounded border border-info" 
                *ngFor="let i of itemAttributesOfAnItem | async | paginate: { itemsPerPage: 4, currentPage: p }" 
                (click)="onTypeClick(i)" id="itemAttributeList">
                    <h5 class="card-title text-center">Type: {{i.itemSize}}</h5>
                   Booking Charge: {{i.bookingCharge}}, In City Rate: {{i.inCityRate}} 
                    Condition Charge: {{i.conditionCharge}}
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <div >
                    
                  <!--<p>{{i.itemname}}</p> -->
                </div>
            </div>
          
          </div> <!-- Show item attributes from database End -->
          <div class="col-sm-4 col-md-4 col-lg-4 mx-auto border-right"></div>
        </div>
</div>