
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 pt-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h2 style="color: red;">Error occured</h2>
        <h4 style="color: red;">{{message?.title}}</h4>
        <h6 style="color: red;">Status: {{message?.status}}</h6>
        <h6 style="color: red;">Trace ID: {{message?.traceId}}</h6>
        <p>{{message?.detail}}</p>
        <p>Please contact with Binary-Geek</p>
      </div>
    </div>
    
  </div>
</div>
