
    <div class="row">
      <div class="col-md-4">
      
          <div class="card-body">
            <h5 class="card-title text-center">Create Delivery Man</h5>
            <form  [formGroup]="deliveymanaddForm" (ngSubmit) = (Create()) method="POST" >
              
                  <div class="form-label-group">
                        <label for="inputUsername">Name</label>
                        <input type="text" 
                        class="form-control"  formControlName="name" placeholder="Ex: Dr. Supratip Ghose">
                        
                  </div>
  
                  <div class="form-label-group">
                      <label for="inputUsername">Phone</label>
                      <input type="text" 
                      class="form-control" formControlName="phone" placeholder="Ex: 017XXXXXXXXXX">
                      
                  </div>
                  

                  <div class="form-label-group">
                    <label for="inputUsername">Password</label>
                    <input type="text" 
                    class="form-control"  formControlName="password" placeholder="Ex: as1234">
                    
                </div>
                <br>
                  <button  class="btn  btn-primary btn-block text-uppercase" type="submit">Create</button>
            </form>
          </div>
        </div>
      </div>

  
