<div class="row">

      <div class="col-md-4">
        <div class="card shadow p-1 mb-2 bg-white rounded">
          <div class="card-img-top text-center border-bottom">
              <img src="https://www.shohoz.com/v2/assets/img/shohoz.svg"  class="card-img-top" alt="...">
              
          </div>

          <div class="card-body">
              
              <!-- <div class="fab"><i class="fa fa-info" aria-hidden="true"></i></div> -->
              
              <div class="card-title" style="border-left: 5px solid #0080FF;font-weight:bold;">
                <h3 class="pl-1">Shohoz</h3>
              </div>
              <i class="fas fa-phone-alt" style="color: green;"></i> 017XXXXXXXX<br>
              <i class="far fa-envelope" style="color: #0080FF;"></i> sohoz@gmail.com
              <div class="text-right">
                <a class="text-align-right" [routerLink]="['/admin/merchant-agreement']"> Info</a>
              </div>

          </div>
        </div>
     
      </div>

<!-- Booking Form -->


<!-- Booking Form End-->

<div class="col-md-4">
    <div class="card shadow p-1 mb-2 bg-white rounded">
      <div class="card-img-top text-center border-bottom">
         <div style="height: 100px;">
           <h4>Booking Form</h4>
         </div>
          
      </div>

      <div class="card-body">
          
          <div class="fab"><i class="far fa-file-alt fa-sm"></i></div>
          
          <div class="card-title" style="border-left: 5px solid #0080FF;font-weight:bold;">
            <h3 class="pl-1">Form</h3>
          </div>
          <i class="fas fa-phone-alt" style="color: green;"></i> 017XXXXXXXX<br>
          <i class="far fa-envelope" style="color: #0080FF;"></i> sohoz@gmail.com
          <div class="text-right">
            <a class="text-align-right" [routerLink]="['/admin/merchant-info']"> Form</a>
          </div>

      </div>
    </div>
  </div>

      <!-- Booking Report -->

<div class="col-md-4">
    <div class="card shadow p-1 mb-2 bg-white rounded">
      <div class="card-img-top text-center border-bottom">
         <div style="height: 100px;">
           <h4>Booking Report</h4>
         </div>
          
      </div>

      <div class="card-body">
          
          <div class="fab"><i class="fas fa-file-signature fa-sm"></i></div>
          
          <div class="card-title" style="border-left: 5px solid #0080FF;font-weight:bold;">
            <h3 class="pl-1">Reports</h3>
          </div>
          Total Booking: 25<br>
          Pending: 2
          <div class="text-right">
            <a class="text-align-right" [routerLink]="['/admin/merchant-info']"> Report</a>
          </div>

      </div>
    </div>
  </div>

<!-- Booking Report  End-->


  </div>
