<div class="fab" [style.marginTop.px]="20" [routerLink]="['/admin/merchantadd']" routerLinkActive="router-link-active"  >&#43;</div>
<div class="row pt-5">
    
  <div class="col-md-3 pl-1 pb-1 pr- pt-5" *ngFor="let merchant of merchants">
    <div class="profile-badge">
      <div class="media border p-1 shadow-sm p-3 bg-white rounded">
            <img src="" width="50px;">
            <div class="media-body">
              <p>{{merchant.name}}</p>
              <p class="font-italic">{{merchant.email}}</p>
              
              <div class="text-right">
                <a class="text-align-right" [routerLink]="['/admin/merchant-info/', merchant.id]" routerLinkActive="router-link-active"> &rarr;</a>
              </div>
              
            </div>
      </div>
  </div>
  </div>
</div>

