<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Delivery Man list</p>
</div>

<mat-selection-list #linkList>
    <mat-list-option  *ngFor="let item of data.delivManList;index as i" 
     (click)="down(item)" routerLinkActive="active"
     (selectionChange)="selectionChanged($event,i)" [class.active]="selectedItem === i">
     <a mat-list-item> <span class="contact-names">{{ item.name }}</span> </a>
        <mat-divider></mat-divider>
    </mat-list-option>
</mat-selection-list >
<p *ngIf="delivManName" [(ngModel)]="data.selectedDelivManId" value="delivManName" name="name" ngDefaultControl>{{delivManName}} is Selected </p> 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.selectedDelivManId">Assign</button>
</div>